---
layout: default
---

<div class="well">
{%for post in site.posts %}
	{% unless post.next %}
		 <div class="postgroup">
				<h2>{{ post.date | date: '%Y' }}</h2>
			</div>

	{% else %}
			<div class="postgroup">

				{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
				{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
				
				{% if year != nyear %}
					<h2>{{ post.date | date: '%Y' }}</h2>
				{% endif %}
			</div>				
	{% endunless %}
		
		
			<div class="postlist">
				<ul>
					<li>
						<span>{{ post.date | date: "%Y-%m-%d" }}</span> <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
					</li>
				</ul>
			</div>
{% endfor %}
</div>

