---
layout: default
---

<div class="timeline">
		<div class="timeline-post-list">
	{%for post in site.posts %}		
			<ul class="timeline-post-list-ul">
				<div class="post-item">
				
					<div class="dot-on-line"></div>
					
					<li>
						<div class="timeline-post-content">
							<div class="timeline-post-category">
								{% if post.category == null %}
		              <a class="category-link" href="https://madlymissyou.github.io/category.html#etc."> etc. </a>
								{% else %}
		              <a class="category-link" href="https://madlymissyou.github.io/category.html#{{ post.category }}"> {{ post.category }} </a>
								{% endif %}
							</div>
							
              <a href="{{ site.baseurl}}{{ post.url }}">
                <div class="timeline-post-title">
                  {{ post.title }}
                </div>
                <div class="timeline-post-content-truncate">
                  {{ post.content | strip_html | strip_newlines | truncate: 152 }}
                </div>
              </a>
              						
							<div class="timeline-post-date-info">
								{{ post.date | date: "%Y" }}. {{ post.date | date: "%m"}}. {{ post.date | date: "%d"}}.
							</div>


				
						
						</div>

					</li>
				</div>

			</ul>
		{% endfor %}			
		</div>
		
		

<!--

{%for post in site.posts %}
	{% unless post.next %}
		 <div class="postgroup">
				{{ post.date | date: '%Y' }}
			</div>

	{% else %}
			<div class="postgroup">

				{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
				{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
				
				{% if year != nyear %}
					{{ post.date | date: '%Y' }}
				{% endif %}
			</div>				
	{% endunless %}
		
		
			<div class="postlist">
				<ul>
					<li>
						<span>{{ post.date | date: "%Y-%m-%d" }}</span> <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
					</li>
				</ul>
			</div>
{% endfor %}
-->
</div>


