---
layout: default
---

  <ul class="post-list">
    {% for post in site.posts %}
     
      <li>
       	<div class="article-header">
					<span class="post-meta">{{ post.date | date: "%Y-%m-%d" }} 와와 </span>
					<h3>
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</h3>



<!--					<a href="$base-edit-url{{ post.date | date: "%Y-%m-%d" }}-{{ post.slug }}.md" >edit</a>-->

        
				</div>
				
<!--        <hr id="line">-->
        
				<div class="post-content">
				{{ post.excerpt }}
				

				{% if post.excerpt != post.content %}
				<div class="readmore-a">
				<a href="{{ site.baseurl }}{{ post.url }}">
					<div class="readmore">
						Read more..
					</div>
				</a>
				</div>
{% endif %}

				</div>
				<br>
      </li>
    {% endfor %}
  </ul>

