---
layout: default
---


<div>
  <ul class="post-list">
    {% for post in site.posts %}
     
      <li>
       	<div class="article-header">
					<span class="post-meta">{{ post.date | date: "%Y-%m-%d" }} </span> 
					<span class="post-meta">|</span>
					<span class="post-meta"> 
					
					<a class="category-link" href="https://madlymissyou.github.io/category.html#{{ post.category }}"> {{ post.category }} </a>
					
					</span>
					
					
					<h3>
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</h3>

					<a class="post-edit"  href="http://prose.io/#madlymissyou/madlymissyou.github.io/edit/master/_posts/{{ post.date | date: "%Y-%m-%d" }}-{{ post.slug }}.md" target="_blank">edit</a>
        
				</div>
				
<!--        <hr id="line">-->
        
				<div class="post-content">
				{{ post.excerpt }}
				

				{% if post.excerpt != post.content %}
				<div class="readmore-a">
				<a href="{{ site.baseurl }}{{ post.url }}">
					<div class="readmore">
						Read more..
					</div>
				</a>
				</div>
{% endif %}

				</div>
				<br>
      </li>
    {% endfor %}
  </ul>

</div>


<div>

	
	
</div>