
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
//    margin-bottom: $spacing-unit / 2;
  margin-bottom: 5px;
}

ul, ol {
    margin-left: 10px;
		margin-right: 0px;
}


li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

h1, h2 {
	margin-top: 40px;
	font-weight: 600;
}

h3, h4, h5, h6 {
	margin-top: 20px;
	font-weight: 600;
}

p {
	
}


img {
    max-width: 100%;
    vertical-align: middle;	
}


figure > img {
    display: block;
		margin-left: auto;
		margin-right: auto;
}

figcaption {
    font-size: $small-font-size;
}


a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 5%);
    }

    &:hover {
        color: darken($brand-color, 15%);
    }
}


blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
//    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}


/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #f5f5f5;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



header {
  background-color: #515865;
  padding-top: 15px;
  padding-bottom: 10px; 
  font-family: "Montserrat",sans-serif;
}
content {
  background-color: #FFF;
  height: 100vh;
  min-height: 100%;
}
.wrapper {

		
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto; 
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
//
//    @include media-query($on-laptop) {
//        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
//        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
//        padding-right: $spacing-unit / 2;
//        padding-left: $spacing-unit / 2;
//    }
}



.nav {
		color: #707070;
		text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
    display:inline;
}

.nav li {
    padding-right: 20px;
    display: inline-block;
    line-height: 1;
}

.nav a {
    color: #959BA6;
    margin-left: 2px;
}

.nav a:link {
    opacity: 1;
    transition: all 0.15s linear 0s;
    text-decoration: none;
}

.nav li a:visited {
    opacity: 1;
    transition: all 0.15s linear 0s;
    text-decoration: none;
}

.nav li a:hover {
    opacity: 0.6;
    cursor: pointer;
    text-decoration: none;
}

.title li a {
    color: #FFF;
}

.title li a:link {
    color: #FFF;
}

.title li a:visited {
    opacity: 1;
    transition: all 0.15s linear 0s;
    text-decoration: none;
}

.title li a:hover {
    opacity: 1;
    color: #FFF;
}

.blogtitle {
    margin-top: -10px;
    font-size: 30px;
		font-weight: 100;
//    line-height: 1em;
    color: #EEE;
}

.blogtitle a {
	color: #FFF;
	&:link {
		color: #FFF;
	}
	&:visited {
		color: #FFF;
	}
	&:hover {
		color: #FFF;
	}
}

.social-links {
    margin-top: -10px;
		margin-left: 0px;
}

.social-links li {
    display: inline;
    padding-right: 10px;
//    line-height: 0;
}

.social-links a {
    color: #959BA6;
}
.social-links a:hover {
	opacity: 0.6;
}
.social-links a:active {
	opacity: 0.6;
}




.timeline {
	display: block;
	backgrounc: black;
	padding-left: 0px;
	padding-right: 0px;
  margin-top: 10px;
	position: relative;
  line-height: 1.8em;
}

.timeline ul, .timeline ol {
	list-style: none;
}

.timeline .timeline-post-list:before {
	content: "";
	position: absolute;
	left: 10;
	top: 0;
	height: 100%;
	width: 4px;
	background-color: #ebebeb;
}

.new-text {
  positon: absolute;
  right: 15px;
  top: 25px;

}
.new-icon {
    position: absolute;
//    left: ($spacing-unit*-1)+26;
    right:15px;
    top: 25px;
//    border-radius: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.1;
//    background: lighten(#45b4c2, 30%);
}

.timeline .dot-on-line {
    position: absolute;
    left: ($spacing-unit*-1)+12;
    top: 22px;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: #45b4c2;
}

.timeline .timeline-post-list-ul {
	padding-top: 10px;
	padding-bottom: 10px;
  margin-right:0px;
  margin-left: 15px;
}

.timeline .post-item {
	height: 100%;
	position: relative;
	padding: 10px;
}

.timeline .post-item li {
//	display: list-item;
//	text-align: -webkit-match-parent;
}

.timeline .timeline-post-category {
    color: #45b4c2;
		font-size: 14px;
}

.timeline .timeline-post-title {
    margin-top: 0px;
    font-size: 22px;
    font-weight: 100;
    color: darken($brand-color, 15%);
}

.timeline .timeline-post-content a:hover .timeline-post-title {
  color: $brand-color;
}

.timeline .timeline-post-title a {
    color: #606060;
}

.timeline .timeline-post-meta {
		color: #adaead;
		font-size: 14px;
}

.timeline .timeline-post-content-truncate {
		color:  darken(#adaead, 15%);
		font-size: 16px;
    line-heigth: 1.5;
}

.timeline .timeline-post-date-info {
    height: 100%;
    width: 100px;
    float: left;
    color: #adaead;
    margin-top: 2px;
    font-size: 14px;

}



/********************************/
/* Archive.html & Category.html */
/********************************/
.archive {
	background-color: #FFF;
	height: 100vh;
	color: #000;
	font-size: 14px;
  line-height: 1.5em;
}

.archive >:first-child {
  margin-top: 35px;
}

.archive .archive-postgroup {
	font-size: 20px;
	font-weight: 400;
	color: $brand-color;
}

.archive .archive-postlist {
	margin-left: 10px;
  margin-right: 0px;
	color: #AAA;
	font-size: 16px;
	font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}



.archive .archive-postlist ul {
  margin-top: 15px;
  margin-bottom: 15px;
}

.archive .archive-postlist span {
  margin-right: 7px;
  font-size: 15px;
}
.archive .archive-postlist a {	
    text-decoration: none;
		color: #555;
}

.archive .archive-postlist a:hover {
	text-decoration: none;
	color: #777;
}



/*************/
/* POST.html */
/*************/

.post {
  
//	margin-left: $spacing-unit/2;
//	margin-right: $spacing-unit/2;
  margin-top: 20px;
  position: relative;
}

//.post img.alignleft {float:left}
//.post img.alignright {float:right}
//.post img.aligncenter {display:block;margin:0 auto}


.post ul {
//  margin-top: 15px;
//  margin-bottom: 15px;
  margin-left: 15px;
}

.post li {
//  margin-bottom: 5px;
}

.post-header {
  positon: relative;
}

.post-title-wrapper {
  padding-top: 30px;
}
.post-title {

	font-size: 30px;
	font-weight: 100;
  line-height: 1.2em;
}

.post-header-meta {
  position: relative;
}
.edit-icon {
    position: absolute;
//    left: ($spacing-unit*-1)+26;
    right: 10px;
    bottom: 7px;
//    bottom: 25px;
//    border-radius: 10px;
    width: 20px;
    height: 20px;
    opacity: 1;
//    background: lighten(#45b4c2, 30%);
}

.post-content {
	margin-top: 20px;
	color: #666;
	font-size: 18px;
}

.post-content>:first-child {
  margin-top: 20px; 
}

.post-content p {
	font-size: 18px;
  margin-bottom: 0.7em;
}

.post-content img {
  padding-top: 20px;
  padding-bottom: 20px;
  display:block;
  margin:0 auto;
}

.post .post-footer {
		position: relative;
    font-size: $small-font-size;
    text-align: center;
		color: #666;
}

.article-header {
	background-color: #FFF;
}




.post-list-ul {
	list-style:none;
}


.post-list-ul > li {
	border-bottom: dotted 3px #E7E7E7;
//	box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.06);
	margin-bottom: 35px;
}

.article-header {

}

.post-abstract h1, 
.post-abstract h2, 
.post-abstract h3, 
.post-abstract h4, 
.post-abstract h5,
.post-abstract h6, 
.post-abstract p, 
.post-abstract ul, 
.post-abstract li {
	font-weight: 200;
}

.post-abstract >:first-child {
	margin-top: 20px;
}

.post-abstract a, .post-content a {
	color: $brand-color;	

	&:visited {
		color: $brand-color;
	}

	&:hover {
		color: darken($brand-color, 15%);
		text-decoration: none;
	}
}


.post-title-wrapper {
	margin-top: 20px;
}

.post-title-link {
	font-size: 30px;
	font-weight: 200;
	color: $font-color;
	&:visited {
		color: $font-color;
	}
	&:hover {
		color: $font-color;
		text-decoration: none;
	}
}

.post-meta {
	color: #AAA;
	font-size: 16px;
	font-weight: 100;
	margin-left: 0px;
	margin-bottom: 30px;
	margin-right: 10px;
	
	
}

.post-edit {
	color: #EEE;
	font-size: 16px;
	&:visited {
		color: #EEE;
	}
	&:hover {
		color: #EEE;
		text-decoration: none;
	}
}




.readmore-box {
	margin-top: 30px;
	text-align: center; 
	padding: 5px 7px;    
	font-size: 16px;
	background: #F3F3F3;
	color: #888;
	cursor: pointer;
}

.readmore-box:hover {
	background: darken(#F3F3F3, 5%);
}

.readmore {
	color: #888;
	&:visited {
		color: #888;
	}
	&:hover {
		color: #888;
		text-decoration: none;
	}
}


#line {
	opacity: 0.2;
	color: #000;
	margin-top: 10px;
	margin-bottom: 40px;
}
/**
 * About
 */
.about {
	color: #666;	
}

/**
 * Footer
 */
.footer {
		position: relative;
    font-size: $small-font-size;
    text-align: center;
		color: #666;
}

#gotop {
    position: fixed;
    right: 20px;
    bottom: 20px;    
    padding: 5px 7px;    
    font-size: 16px;
//    background: #515865;
		background: #666;
    color: white;
    cursor: pointer;
}

//.golist {
//	padding: 5px 7px;
//	font-size: 16px;
//	background: #333;
//	color: white;
//	cursor: pointer;
//}