
html,body {
//	-moz-osx-font-smoothing: grayscale;
	font-family: $base-font-family;
}

/**
 * Header
 */
.header {
    padding: 40px 20px 20px 20px;
    background-color: #515865;
//		font-family: $base-font-family;
//		font-family: "Montserrat",sans-serif;
//		font-family: "Lucida Grande", sans-serif;
}

.header-container {
    max-width: 700px;
    margin: 0px auto;
}

.nav {
		color: #707070;
		text-transform: uppercase;
    font-size: 18px;
    font-weight: 100;
    display:inline;
}

.nav li {
    padding-right: 20px;
    display: inline-block;
    line-height: 1;
}

li {
    margin-left: 0px;
    line-height: 2em;
}

.nav a {
    color: #959BA6;

}

.nav a:link {
    opacity: 1;
    transition: all 0.15s linear 0s;
    text-decoration: none;
}

.nav li a:visited {
    opacity: 1;
    transition: all 0.15s linear 0s;
    text-decoration: none;
}

.nav li a:hover {
    opacity: 0.6;
    cursor: pointer;
    text-decoration: none;
}

.title li a {
    color: #FFF;
}

.title li a:link {
    color: #FFF;
}

.title li a:visited {
    opacity: 1;
    transition: all 0.15s linear 0s;
    text-decoration: none;
}

.title li a:hover {
    opacity: 1;
    color: #FFF;
}

.blogtitle {
    padding-top: 10px;
    font-size: 30px;
		font-weight: 100;
    line-height: 1.5em;
    color: #EEE;
}

.blogtitle a {
	color: #FFF;
	&:link {
		color: #FFF;
	}
	&:visited {
		color: #FFF;
	}
	&:hover {
		color: #FFF;
	}
}

.social-links {
    padding-top: 10px;
		margin-left: 0px;
}

.social-links li {
    display: inline;
    padding-right: 10px;
    line-height: 0;
}

.social-links a {
    color: #959BA6;
}
.social-links a:hover {
	opacity: 0.6;
}
.social-links a:active {
	opacity: 0.6;
}





.article-header {
	background-color: #FFF;
}




.post-list-ul {
	list-style:none;
}


.post-list-ul > li {
	border-bottom: dotted 3px #E7E7E7;
//	box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.06);
	margin-bottom: 35px;
}

.article-header {
	font-weight: 100;
}
.post-abstract h1, 
.post-abstract h2, 
.post-abstract h3, 
.post-abstract h4, 
.post-abstract h5,
.post-abstract h6, 
.post-abstract p, 
.post-abstract ul, 
.post-abstract li {
	font-weight: 200;
}

.post-abstract > :first-child {
	margin-top: 20px;
}

.post-abstract a, .post-content a {
	color: $brand-color;	

	&:visited {
		color: $brand-color;
	}

	&:hover {
		color: darken($brand-color, 15%);
		text-decoration: none;
	}
}


.post-title-wrapper {
	margin-top: 20px;
}

.post-title-link {
	font-size: 40px;
	font-weight: 100;
	color: $font-color;
	&:visited {
		color: $font-color;
	}
	&:hover {
		color: $font-color;
		text-decoration: none;
	}
}

.post-meta {
	color: #AAA;
	font-size: 16px;
	margin-left: 0px;
	margin-bottom: 30px;
	margin-right: 10px;
	
}

.post-edit {
	color: #EEE;
	font-size: 16px;
	&:visited {
		color: #EEE;
	}
	&:hover {
		color: #EEE;
		text-decoration: none;
	}
}



.readmore-box {
	margin-top: 30px;
	text-align: center; 
	padding: 5px 7px;    
	font-size: 16px;
	background: #F3F3F3;
	color: #888;
	cursor: pointer;
}

.readmore-box:hover {
	background: darken(#F3F3F3, 5%);
}

.readmore {
	color: #888;
	&:visited {
		color: #888;
	}
	&:hover {
		color: #888;
		text-decoration: none;
	}
}


#line {
	opacity: 0.2;
	color: #000;
	margin-top: 10px;
	margin-bottom: 25px;
}


/**
 * Artist
 */
.well {
	background-color: #FFF;
	margin-left: $spacing-unit;
	margin-right: $spacing-unit;
	height: 100vh;
	color: #000;
	font-size: 14px;
//	font-family: $base-font-family;
}

.well .postgroup {
	font-size: 24px;
	margin-bottom: 15px;
	font-weight: 400;
	color: $brand-color;
}

.well .postlist {
	margin-left: 5px;
	color: #AAA;
	font-size: 18px;
	list-style: none;
	font-weight: 400;
}

.well .postlist a {	
    text-decoration: none;
		color: #555;
}

.well .postlist a:hover {
	text-decoration: none;
	color: #777;
}

.well .postlist li {
	line-height: 1.5em;
}

.post-wrapper {
	margin-left: $spacing-unit;
	margin-right: $spacing-unit;
}

.post-title {
	font-size: 40px;
	font-weight: 100;
	color: $font-color;
	&:visited {
		color: $font-color;
	}
	&:hover {
		color: $font-color;
		text-decoration: none;
	}
}

.post-content {
	margin-top: 20px;
	color: #666;
	font-size: 18px;
}

.post-content p {
	font-size: 18px;
}
/**
 * Category
 */


/**
 * About
 */
.about {
	color: #666;	
}

/**
 * Footer
 */
.footer {
    font-size: 12px;
    text-align: center;
		color: #666;
}

#gotop {
    position: fixed;
    right: 20px;
    bottom: 20px;    
    padding: 5px 7px;    
    font-size: 16px;
//    background: #515865;
		background: #666;
    color: white;
    cursor: pointer;
}
