/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */

/*
colorset
#6854A3 RGB(104, 84, 163)
#86C991 RGB(134, 201, 145)
#F27A90 RGB(242, 122, 144)
#EFEFEF RGB(239,239,239)
#FFFFFF RGB(255,255,255)
*/

/*colorpreset*/
:root {
/*
	--color-main: rgb(37, 42, 58);
	--color-sub1: #1b98f8;
	--color-sub2: rgb(75, 113, 151);
	--color-sub3: #FFF668;
	--color-sub4: #8BF8D0;
*/
	
	--color-main: #6854A3;
	--color-sub1: #86C991;
	--color-sub2: #F27A90;
	--color-sub3: #EFEFEF;
	--color-sub4: #FFFFFF;
  --color-main2: rgb(132,194,142);
	
	
	
  --color-g0:  #ffe060; --color-g0-sub: #FFF8BD;
	--color-g1:  #F64C60; --color-g1-sub: #FFCFD4;
	--color-g2:  #41ccb4; --color-g2-sub: #CCF7F8;
	--color-g3:  #FF834F; --color-g3-sub: #FFCEB9;
	--color-g4:  #fba3ea; --color-g4-sub: #FFE1F9;
	--color-g5:  #4564B4; --color-g5-sub: #B9CCFD;
	--color-text1: #333;
	--color-text2: #999;
	--color-text3: #ddd;
	
	--color-nav-bg: white;
	--color-nav-logo: var(--color-main);
	--color-nav-menu-focus-bg: rgb(55, 60, 90);
	--color-nav-menu-recent-added: var(--color-sub1);
	
	--color-list-selected: var(--color-g0-sub);
	
	--color-chat-header: var(--color-sub2);
/*	--color-chat-body: #E0E8F0;*/
	--color-chat-body: white;
	
	--color-chat-msg: #E7EFF7;
	--color-chat-msg-me-bg: #feec00;

	--color-chat-msg-name: var(--color-main1);
	--color-chat-msg-date: #677176;
/*	--color-chat-group-selected: white;*/
  --color-chat-group-selected: rgb(104,86,161);
	--color-chat-readline-tx: #677176;
	--color-chat-readline-bg: #F3F3F3;
/*  --color-chat-readline-bg: RGB(195,217,230);*/
	
	
/*  --color-main1: #685665;*/
  --color-main1: #68589F;
  --color-main2: #84C28E;
  --color-main3: #EF7B90;
  --color-bk: #EFEFEF;
  --color-bk2: #F6F6F6;
  
  --size-header-height: 50px;
  --size-chat-width: 400px;
}

html {
  font-size: 14px;
}
body {
  
}

#layout {
/*  min-width: 840px;*/
  position: relative;
/*
  display: flex;
  flex-direction: column;
*/
  
  
}

#header {
  
  
  line-height: var(--size-header-height);
/*
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  
*/
  color: white; 
  text-align: center;
  font-weight: 400;
  
  display: flex;
  flex-direction: row;
  
/*  min-width: 1000px;*/
  width: 100vw;
  height: var(--size-header-height);
  position: fixed;
  top: 0px;
  margin: 0px auto;
/*  z-index: 1000;*/
  
  background-color: var(--color-main1);
  color: #EEE;   
}

#header .header-left {
  flex-basis: 420px; /* chat width + scrollbar 20px */
  flex-grow: 0;
  flex-shrink: 0;
 
  position: relative;
  

}

#header .header-left span {
  font-family: 'Baloo Paaji', cursive;
  font-weight: 400;
  font-size: 1.8rem;
  
  position: absolute;
  left: 25px;
}
#header .header-center {
   flex-basis: auto; 
/*  min-width: calc(100vw - 840px);*/
  /*min-width: -o-calc(100vw - 840px); /* opera */
  /*min-width: -webkit-calc(100vw - 840px); /* google, safari */
  /*min-width: -moz-calc(100vw - 840px); /* firefox */
  

  flex-grow: 1;
  flex-shrink: 1;
  
  
  font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
	font-size: 1.8rem;

  
    
}
#header .header-right {
  
  flex-basis: 420px; /* chat width + scrollbar 20px */
  flex-grow: 0;
  flex-shrink: 0; 
  
  font-size: 1.2rem;
  padding-top: 3px;
  
  display: flex;
  flex-direction: row;
}

#header .header-right-blank {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: right; 
  padding-right: 5px;
}


#header .header-account-svg-container {
  position: relative;
  
  
  flex-basis: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
  
  height: 100%;
  
}

#header .header-setting-svg-container {
  position: relative;
    
  flex-basis: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
 
  height: 100%;
  padding-right: 25px;
}

#header .header-account-svg-container svg {
  width: 2.3rem;
  height: 2.3rem;
  display: inline-block;
  vertical-align: middle;
}

#header .header-setting-svg-container svg {
  width: 2.9rem;
  height: 2.9rem;
  display: inline-block;
  vertical-align: middle;
  
}

#header .header-account-svg-container svg g {
  fill: #fff;
}
#header .header-setting-svg-container svg path {
  fill: #fff;
}

#container {
  flex-basis: auto;

  
/*  var(--size-header-height) */
  height: calc(100vh - 50px);
  height: -o-calc(100vh - 50px); /* opera */
  height: -webkit-calc(100vh - 50px); /* google, safari */
  height: -moz-calc(100vh - 50px); /* firefox */
  
  flex-grow: 1;
  flex-shrink: 1;
  
  position: absolute;
  top: var(--size-header-height);;
  background-color: transparent;

  width: 100vw;
/*  min-width: 1000px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}



#list {
  flex-basis: 420px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--color-bk);
  background-color: #FFF;
  position: relative;
  overflow-y: auto;
}

#boardmenu {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--color-bk2);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  
}

#boardmenu .board-section {
  width: auto;
  position: relative;
}

#boardmenu .board-section-name-container {
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding: 20px 15px 0px 25px;
  font-size: 1.5rem;
  font-weight: 800;
  color: #777;
  
  display: flex;
  flex-direction: row;
/*  background-color: yellow;*/
}

.board-section-name-container .board-section-name-left {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  
}

.board-section-name-container .board-section-name-center {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 20px;
}

.board-section-name-container .board-section-name-right {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  
}
#boardmenu .board-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  
  list-style: none;
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
}


/*https://css-tricks.com/almanac/properties/f/flex-wrap/*/
#boardmenu .board-item {
  width: 180px;
  height: 60px;
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
/*  overflow-y: auto;*/
/*  border: 1px solid #CCC;*/
  
  position: relative;
  
}
#boardmenu .board-item:hover {
  border: 1px solid var(--color-main2);
}


#boardmenu .board-item-header {
  color: var(--color-main2);
  font-weight: 600;
  text-align: left;
  margin-bottom: 5px;
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.8rem;

  height: 80%;
  max-height: 80%;
  overflow-y: hidden;
}

#boardmenu .board-item-meta { 

  width: auto;
  height: 1.5rem;
/*
  position: absolute;
  bottom: 5px;
*/
  
  display: flex;
  flex-direction: row;
}

#boardmenu .board-item-meta-left {
  flex-basis: 4rem;
  flex-grow: 0;
  flex-shrink: 0;
  color: #aaa;
}

#boardmenu .board-item-meta-center {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

#boardmenu .board-item-meta-right {
  flex-basis: 4rem;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
  color: var(--color-main3);
}


#boardmenu .board-item-description {
  display: none;
  font-weight: 200;
  text-align: left;
  font-size: 1.0rem;  
}


#boardmenu .board-item-selected {
  background-color: var(--color-main2);
  color: white;
}

#boardmenu .board-item-selected .board-item-header {
  color: white;
}

#boardmenu .board-item-selected .board-item-meta-left {
  color: white;
}

#boardmenu .board-item-selected .board-item-meta-right {
  color: white;
}


#boardmenu .hot-board .board-item-header,
#boardmenu .hot-board .board-item-meta-left,
#boardmenu .hot-board .board-item-meta-right {
  color: #aaa;
}

#boardmenu .all-board .board-item-header,
#boardmenu .all-board .board-item-meta-left,
#boardmenu .all-board .board-item-meta-right {
  color: #aaa;
}

#boardmenu .new-board-item {
  line-height: 60px;
  text-align: center;
  background-color: #fcfcfc;
  color: #888;
}

#list .list-article-item-container {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#list .list-new-button {
  padding: 24px 17px;
  border-bottom: 1px solid #ddd;
}
#list .list-new-button-img {
  width: 2.3rem;
  height: 2.3rem;

  display: block;
  margin: 0 auto;
}
#list .list-new-button-span {
  display: block;
  margin: 0 auto;
  
  color: var(--color-main3);
  font-size: 0.9rem;
  text-align: center;
  margin-top: 7px;
}
#list .list-article-item {
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  
	border-bottom: 1px solid #ddd;
	border-left: 8px solid transparent;
  
  display: flex;
  flex-direction: row;   
}

#list .list-article-selected {
  background-color: #f3f3f3;
  border-left: 8px solid var(--color-main3);
}
#list .list-new-article {
  background-color: #DDD;
  color: #666;
}

#list .list-article-num-box {
  flex-basis: 4.0rem;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}

#list .list-article-num {
  font-size: 1.2rem;
  color: lightslategray;
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  margin: auto;
  text-align: center;  
}

#list .list-article-title-box {
  margin: 0px;
  padding: 15px;
  
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;  
}


#list .list-article-subject {
	margin: 0px;
  color: #777;
  font-weight: 400;
  font-size: 1.2rem;
  
}

#list .new-article {
  background-color: #FFF;
  color: #AAA;
  font-size: 0.8rem;
  border: 1px solid #AAA;
  padding: 10px;
}

#list .list-article-info {
/*
	display: flex;
	flex-direction: row;
*/
  color: #AAA;
	font-size: 1.0rem;
	margin-top: 10px;
  font-weight: 200; 
  font-size: 0.8rem;
}

#list .list-article-author {
/*	color: var(--color-text2);*/
/*
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 10rem;
*/
	text-align: left;
	font-weight: normal;
  color: var(--color-main1);
  margin-right: 10px;
}

#list .list-article-date {
	color: var(--color-text2);

/*
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 10rem;
*/
	text-align: left;
  
}


#article {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1; 
  position: relative;
  
  display: flex;
  flex-direction: column;
  
  background-color: #FFF;
}

#article .article-header {
/*  flex-basis: 4.0rem;*/
  flex-grow: 0;
  flex-shrink: 0;
  
  width: auto;
  padding: 5px;
	border-bottom: 1px solid #ddd;
  
  display: flex;
  flex-direction: row; 
  

  
}

#article .article-num-box {
  flex-basis: 4.0rem;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}

#article .article-num {
  font-size: 1.8rem;
  color: #aaa;
  
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  right: 0;
  height: 20px;
  margin: auto;
  text-align: center;
}

#article .article-title-box {
  margin: 0px;
  padding: 15px 15px 15px 0px;
  
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  
}



#article .article-subject {
	margin: 0px;
  color: #888;
  font-weight: 400;
  font-size: 1.5rem;
}


#article .article-info {
  color: #AAA;
	font-size: 1.0rem;
	margin-top: 5px;
  font-weight: 200;  
}


#article .article-author {
	color: var(--color-text2);
	text-align: left;
	font-weight: normal;
}


#article .article-avatar {
/*				상하로 늘어나거나 줄어들지 않도록 고정*/


/*			name 위치 설정을 위해서*/
	position: relative;

/*			msg-text 위로 바짝 당겨 겹치게*/
	margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 5px;
}

#article .article-avatar-img {
  border-radius: 100%;
	width: 2.0rem;
	height: 2.0rem;
  margin-right: 5px;
}



#article .article-author-name {
	color: var(--color-main1);
	text-align: left;
	font-weight: normal;
  margin-right: 10px;
}

#article .article-date {
	color: var(--color-text2);
}


#article .article-body {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;  
  overflow-y: auto;
}

#article .article-content {
  padding: 20px 50px 20px 50px;
  color: #777;
  text-align: justify;
  border-bottom: 1px solid #ddd;
  background-color: #FDFDFD;
  line-height: 2.0rem;
}

#article .article-content-img {
  display: block;
  margin: 0px auto;
  max-width: 80%;
  height: auto;
}

#article .article-content-footer {
  border-top: 1px solid #ddd;
  color: var(--color-text2);
  padding-top: 10px;
}
#article .article-content-footer span {
  margin-right: 20px;
}
#aritlce p {
  
}

#article .article-reply {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0; 
  background-color: #FFF;
  overflow-y: auto;
  line-height: 1.7rem;
}

#article .reply-item-container {
  list-style: none;
  margin: 0px;
  padding: 10px 50px 10px 10px;
/*  background-color: var(--color-bk2);*/
}                                                                                             

#article .reply-item {
  display: flex;
  flex-direction: row; 
  
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  
  border-bottom: 1px solid var(--color-bk);
}

#article .reply-item .reply-avatar {
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 0;
}

#article .reply-item .reply-avatar-img {
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  margin: 10px;
}

#article .reply-item .reply-main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  
  padding: 0px;

}

#article .reply-item .reply-author {
  display: inline-block;
  margin-right: 5px;
  color: var(--color-main1);
}

#article .reply-item .reply-date {
  display: inline-block;
  color: #AAA;
  font-size: 0.8rem;
}

#article .reply-item .reply-body {
  flex-grow: 1;
  flex-shrink: 1;  
  color: #999;
  margin-top: 5px;
  
}



#chat {
  flex-basis: var(--size-chat-width);
  flex-grow: 0;
  flex-shrink: 0;
  
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.chat-header {
  flex-basis: var(--size-header-height);
  flex-grow: 0;
  flex-shrink: 0;
  
  display: flex;
  flex-direction: row;
  
  background: var(--color-main2);
  line-height: var(--size-header-height);
}

.chat-header-left, .chat-header-right{
  flex-basis: 5.0rem;
  flex-grow: 0;
  flex-shrink: 0;

  text-align: center; 
  line-height: var(--size-header-height);
  font-size: 1.0rem;
  color: #fff;
}

.chat-header-center {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;

  text-align: center;

  font-size: 1.4rem;
  color: #fff;
  
}

.chat-header-list-svg {
  width: 1.7rem;
  height: auto;
  
  display: inline-block;
  vertical-align: middle;
}

.chat-header-list-svg g, .chat-header-list-svg path {
  fill: white;
  color: white;
}



.chat-body{
/*			msg-text nowrap*/
	display: flex;
  flex-basis: 100vh;
	flex-direction: column;
	flex-wrap: nowrap;
  overflow-y: scroll;
	

	background-color: var(--color-chat-body);
  
  padding-top: 15px; 
}

.chat-body .chat-item {
  text-align: left; /*chat-avatar는 좌로 정렬*/
  
  /* 상하로 줄어들지 않도록 설정 */
	flex-grow: 0;
	flex-shrink: 0;
  width: 70%;
  margin-bottom: 10px;
}

.chat-body .other {
  /*			msg를 좌측에 붙이기*/
	align-self: flex-start;
}

.chat-body .me {
  align-self: flex-end;		
}

/*상대방 이름*/
.chat-body .name {
		font-size: 0.8rem;
		color: var(--color-chat-msg-name);
}

.chat-body .msg {
	padding: 0px 10px 0px 10px;
  margin-bottom: 0px;
	margin-left: 17px;
}

.chat-body .other .msg {



/*			msg [msg-text; msg-date]*/
	display: flex;
	flex-direction: row;
}

.chat-body .me .msg {
	

/*			msg [msg-text; msg-date]*/
	display: flex;
	flex-direction: row-reverse;
	
}


.chat-body .msg-text {
	padding-top: 7px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
	background-color: var(--color-chat-msg);
  position: relative;
  font-size: 0.9rem;
  
}



/*clss msg-text other*/
.chat-body .other .msg-text {
	text-align: left;
  margin-left: 25px;
  background: white;
  border: 1px solid var(--color-chat-group-selected);
  color: #333;
  font-weight: 200;
  
}

/*class msg-text me*/
.chat-body .me .msg-text { 
	text-align: left;
  margin-right: 10px;
/*	background: var(--color-main2);*/
  background: white;
  color: #333;
  font-weight: 200;
  border: 1px solid var(--color-main2);
/*  border-right: 6px solid var(--color-main2);*/
}


.chat-body .msg-text p {
  padding: 0px;
  margin: 0px;
}

.chat-body .other img {
  margin-left: 25px;
}
.chat-body .me img {
  margin-right: 10px;
}

.chat-body .msg-img img {
  width: auto;
  height: auto; 
  max-width: 10rem; 
  max-height: 10rem; }


.chat-body .msg-date {
/*		좌우로 늘어나거자 줄어들지 않도록 고정*/
	flex-basis: 60px;
	flex-grow: 0;
	flex-shrink: 0;

/*		date 위치 설정하기 위해*/
	position: relative;
/*  color: #777;*/
}

.chat-body .msg-date .date {
	font-size: 0.7rem;
	color: var(--color-chat-mag-date-tx);
/*  text-align: right;*/


/*		date 위치 설정*/
	position: absolute;
	bottom: 0rem;
  
  color: #ccc;
}

.chat-body .other .date {
	padding-left: 0.6rem;	
	left: 0;
}


.chat-body .me .date {
	padding-right: 0.6rem;	
	right:0;
}



/*
.chat-body .chat-anonymous-img {
	width: 2.0rem;
	height: 2.0rem;
  border-radius: 100%;
  background: rgba(12,32,233,0.3);
  margin-right: 5px;
  position: relative;
}
.chat-body .chat-anonymous-img-inner {
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
	width: 1.6rem;
	height: 1.6rem;
  border-radius: 100%;
  background: rgba(12,32,233,0.4);
  margin-right: 5px;
}

.chat-body .chat-anonymous-img2 {
	width: 2.0rem;
	height: 2.0rem;
  border-radius: 100%;
  background: rgba(212,12,233,0.3);
  margin-right: 5px;
  position: relative;
}
.chat-body .chat-anonymous-img-inner2 {
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
	width: 1.6rem;
	height: 1.6rem;
  border-radius: 100%;
  background: rgba(212,12,233,0.4);
  margin-right: 5px;
}
*/

.chat-body .chat-avatar {
/*				상하로 늘어나거나 줄어들지 않도록 고정*/
	flex-grow: 0;
	flex-shrink: 0;

/*			name 위치 설정을 위해서*/
	position: relative;
  

/*			msg-text 위로 바짝 당겨 겹치게*/
	margin-bottom: -15px;
  margin-left: 10px;
  margin-top: 10px;
  
  
}
.chat-body .icon-ninja-face {
  color: var(—color-main3);
  font-size: 2.3rem;
}
.chat-body .chat-avatar-img {
  border-radius: 100%;
	width: 2.0rem;
	height: 2.0rem;
  margin-right: 5px;
}

.chat-body .chat-avatar svg {
  border-radius: 100%;
	width: 2.0rem;
	height: 2.0rem;
  margin-right: 5px;
  
}

.chat-body .chat-avatar svg circle,
.chat-body .chat-avatar svg g {
  fill: rgba(212,12,233,0.4);
  stroke-width: 0;
}


.chat-body .chat-avatar .name {
/*			name 위치 설정*/
	position: absolute;
	top:2px;
  left: 42px;
}

.chat-body .chat-group-selected {
/*				border: 1px solid var(--color-g2);	*/
	color: white;
  background-color: var(--color-chat-group-selected);
}

.chat-body .chat-group-selected:pre {
  
}


.chat-body .readline {
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
	padding: 7px;
	font-size: 0.8rem;
	
	background-color: var(--color-chat-readline-bg);
	color: var(--color-chat-readline-tx); 
	
  flex-basis: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}


.chat-body .dateline {
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
  text-align: center;
}

.chat-body .dateline .leftline, .chat-body .dateline .rightline {
	display: inline-block;
	border-bottom: solid 1px #ccc;
	width: 130px;
	height: 9px;
}
.chat-body .dateline .leftline {
	float: left;
}
.chat-body .dateline .rightline {
	float: right;
}
.chat-body .dateline .date {
	display: inline-block;
	width: 140px;	
	text-align: center;
	color: var(--color-chat-readline-tx); 
/*	background-color: white;*/
	
}

.chat-body .dateline .date span {
	font-size: 0.8rem;
	text-align: center;
}
.chat-body .dateline hr {
	border-style: solid;
	height: 1px;
	
}


/* ============================================================================================================================
== RECTANGLE-BORDER STYLE WITH CURVE
** ============================================================================================================================ */

.other .balloon {
  position:relative;

}

/* creates larger curve */
.other .balloon:before {
  content:"";
  position:absolute;
  z-index:10;
  top:0px;
  left:-9px;
  width:8px;
  height:6px;
  border-style:solid;
  border-width:0 0 1px 1px;
  border-color:var(--color-main1);
  background: transparent;
  -webkit-border-bottom-left-radius:80px 50px;
  -moz-border-radius-bottomleft:80px 50px;
  border-bottom-left-radius:80px 50px;
  display:block;
}

/* creates smaller curve */
.other .balloon:after {
  content:"";
  position:absolute;
  z-index:10;
  top:0px;
  left:-9px;
  width: 8px;
  height: 12px;
  border-style:solid;
  border-width:0 0 1px 1px;
  border-color:var(--color-main1);
  background: transparent;
  -webkit-border-bottom-left-radius:40px 50px;
  -moz-border-radius-bottomleft:40px 50px;
  border-bottom-left-radius:40px 50px;
  display:block;
}

/* creates a small circle to produce a rounded point where the two curves meet */
.other .balloon > :first-child:before {
  z-index: 15;
  content:"";
  position:absolute;
  top:-1px;
  left:-10px;
  width:4px;
  height:4px;
  background: white;
   
  -webkit-border-radius:1px;
  -moz-border-radius:1px;
  border-radius:1px;
}

/* creates a white rectangle to cover part of the oval border*/
.other .balloon > :first-child:after {
  z-index: 15;
  content:"";
  position:absolute;
  top:7px;
  left:-3px;
  width:5px;
  height:5px;
  background: white;
  border-radius: 6px;
}


.me .balloon {
  position:relative;
}

/* creates larger curve */
.me .balloon:before {
  content:"";
  position:absolute;
  z-index:10;
  top:0px;
  right:-9px;
/*
  width: 50px;
  height: 30px;
*/
  width:8px;
  height:6px;
  border-style:solid;
  border-width:0 1px 1px 0;
  border-color:var(--color-main2);
  background: transparent;
  -webkit-border-bottom-right-radius:80px 50px;
  -moz-border-radius-bottomright:80px 50px;
  border-bottom-right-radius:80px 50px;
  display:block;
}

/* creates smaller curve */
.me .balloon:after {
  content:"";
  position:absolute;
  z-index:10;
  top:0px;
  right:-9px;
/*
  width:20px;
  height:30px;
*/
  width: 8px;
  height: 12px;
  border-style:solid;
  border-width:0 1px 1px 0;
  border-color: var(--color-main2);
  background: transparent;
  -webkit-border-bottom-right-radius:40px 50px;
  -moz-border-radius-bottomright:40px 50px;
  border-bottom-right-radius:40px 50px;
  display:block;
}

/* creates a small circle to produce a rounded point where the two curves meet */
.me .balloon > :first-child:before {
  z-index: 15;
  content:"";
  position:absolute;
  top:-2px;
  right:-11px;
  width:5px;
  height:5px;
  background: #fff;
   
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates a white rectangle to cover part of the oval border*/
.me .balloon > :first-child:after {
  z-index: 15;
  content:"";
  position:absolute;
  top:7px;
  right:-3px;
  width:5px;
  height:5px;
  background: white;
  border-radius: 6px;
}

.chat-footer {
  
  
	font-size: 1rem;
	background-color: white;
	padding: 10px 10px 0px 10px;			


	display:flex;
	flex-direction: row;


	/* body와 겹치지 않도록 */
/*	z-index: 1;*/

/*				상하로 늘어나거나 줄어들지 않도록 고정*/
  
  width: var(--size-chat-width);
/*
  position: fixed;
  height: 70px;
  bottom: 0px;
*/
	flex-basis: 70px;
	flex-grow: 0;
	flex-shrink: 0;
	margin-bottom: 10px;
}

.chat-footer .reply-input {
	text-align: left;
	background-color: white;
	padding: 8px;
/*  margin-right: 5px;*/
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
  border: 1px solid rgb(104,86,161);
	flex-grow: 1;
	flex-shrink: 1;
  color: #AAA;
  

}
.chat-footer .reply-send {
	text-align: center;
	background-color: var(--color-main2);
  color: white;
	padding: 5px;
	padding-top: 25px;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	flex-basis: 50px;
	flex-grow: 0;
	flex-shrink: 0;
}

.chat-footer .chat-input {
	text-align: left;
	background-color: white;
	padding: 8px;
/*  margin-right: 5px;*/
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
  border: 1px solid rgb(136,200,147);
	border-right: none;
	flex-grow: 1;
	flex-shrink: 1;
  color: #777;
}

.chat-footer .chat-input:focus {
  outline: none;
}

.chat-board-hashtag {
/*  background-color: var(--color-main1);*/
/*  background-color: var(--color-main1);*/
  padding: 1px 5px 1px 0px;
/*  border: 1px solid var(--color-main1);*/
/*  border-radius: 20%;*/
  color: var(--color-main1);
  font-weight: 800;
  
  
}
.chat-footer .chat-send {
	text-align: center;
	background-color: var(--color-main2);
  	color: white;
	padding: 5px;
	text-align: center;
	border: 1px solid var(--color-main2);
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	flex-basis: 60px;
	flex-grow: 0;
	flex-shrink: 0;
}

.chat-footer .chat-send-activated {
	background-color: #56A464;
}

.chat-footer .chat-send:focus {
	outline: none;
}


